/*------------Footer Start-------------*/
.footer{
    padding: 5rem 2.5rem;
    background: $dark-blue;
    overflow: hidden;
    &__title{
        text-align: center;
        color: $white;
    }
    &__social--icons{
        height: 100%;
        padding-top: 1.5rem;
        display: flex;
        justify-content: center;
        gap: 1rem;
        a{
            min-width: 8rem;
        
            img{
                max-width: 100%;
                max-height: 100%;

            }
        }
    }
    &__copyright{
        color: $white;
        text-align: center;
        &::before{
            content: '';
            display: block;
            background: rgba($white , 0.15);
            height: 1px;
            max-width: 25%;
            margin: 3.4rem auto;

        }
    }
}