@mixin container ($width: 100%, $pd-right: var(--bs-gutter-x, 2.5rem), $pd-left: var(--bs-gutter-x, 2.5rem)) {
    max-width: $width;
    padding-right: $pd-right;
    padding-left: $pd-left;
    margin: 0 auto;
}
@mixin container-fluid ($width: 100%){
    max-width: $width;
    padding: 0;
    margin: 0 auto;
}